.mydesk{
  background-image:url(http://images.freeimages.com/images/previews/35d/pencil-on-desk-1499351.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  width: auto;
}

.mydeskfont{
 color:white;
 text-shadow: 2px 2px 3px black
}